.contact-main{
    height: 100vh;
    position: relative;
}

.contact-bg{
    clip-path: polygon(0 0, 0% 100%, 100% 49%);
    background-color: #7395af;
    width: 50%;
    height: 100%;
    position: absolute;
}

.contact-wrap{
    padding: 50px;
    display: flex;
}

.contact-left{
    flex: 1;
}
.contact-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-title{
    font-size: 3rem;
    margin-left: 1em;
    margin-top: .5rem;
    width: 70%;
    position: relative;
}

.contact-item{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 50px ;
    margin-top: 85px;
    font-weight:700;
}

.contact-icon{
    width: 40px;
    height: 40px;
}

.contact-question{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: .5em;
}

.contact-p{
    line-height: 1.2;
}

form{
    margin-top: 30px;
}

input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

button{
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #7395af;
    color: white;
    font-weight: 400;
    cursor: pointer;
}