.contact-main{
    height: 100vh;
    position: relative;
}

.contact-bg{
    clip-path: polygon(0 0, 0% 100%, 100% 49%);
    background-color: #7395af;
    width: 50%;
    height: 100%;
    position: absolute;
}

.contact-wrap{
    padding: 50px;
    display: flex;
}

.contact-left{
    flex: 1;
}
.contact-right{
    flex: 1;
}

.contact-title{
    font-size: 3rem;
    margin-left: 1em;
    margin-top: .5rem;
    width: 70%;
    position: relative;
}

.contact-item{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 50px ;
    margin-top: 85px;
    font-weight:700;
}

.contact-icon{
    width: 40px;
    height: 40px;
}

.contact-question{
    font-size: 1.5em;
    font-weight: 600;
}

.contact-p{
    line-height: 1.2;
}